<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lookcar.xsyz.ntfirst.dao.FtNewsMapper">

    <resultMap id="baseResultMap" type="com.lookcar.xsyz.ntfirst.entity.FtNews">

    </resultMap>

    <select id="getNewsList" resultMap="baseResultMap">
        select id, title, description, photo_url photoUrl, content, author, visit_count visitCount, create_time createTime from ft_news
        where is_delete = 0 order by id limit 6
    </select>

    <select id="getNewsDetail" resultMap="baseResultMap">
        select id, title, description, photo_url photoUrl, content, author, visit_count visitCount, create_time createTime from ft_news
        where id = #{id}
    </select>

    <select id="prevNews" resultMap="baseResultMap">
        select id, title, description, photo_url photoUrl, content, author, visit_count visitCount, create_time createTime from ft_news
        where id &lt; #{id} order by id desc limit 1
    </select>

    <select id="nextNews" resultMap="baseResultMap">
        select id, title, description, photo_url photoUrl, content, author, visit_count visitCount, create_time createTime from ft_news
        where id > #{id} order by id limit 1
    </select>

    <update id="recordVisitCount">
        update ft_news set visit_count = visit_count+1 where id = #{id}
    </update>

</mapper>