<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lookcar.xsyz.ntfirst.dao.FtProductMapper">

    <resultMap id="baseResultMap" type="com.lookcar.xsyz.ntfirst.entity.FtProduct">

    </resultMap>

    <select id="getProductList" resultMap="baseResultMap">
        select
        id,
        product_type productType,
        product_name productName,
        product_photo productPhoto,
        product_capacity productCapacity,
        product_authentication productAuthentication,
        product_description productDescription,
        product_features productFeatures,
        product_iso productIso,
        create_time createTime
        from ft_product
        where is_delete = 0 and product_type = #{type} order by create_time desc
    </select>

    <select id="getProductDetail" resultMap="baseResultMap">
        select
        id,
        product_type productType,
        product_name productName,
        product_photo productPhoto,
        product_capacity productCapacity,
        product_authentication productAuthentication,
        product_description productDescription,
        product_features productFeatures,
        product_iso productIso,
        create_time createTime
        from ft_product
        where id = #{id} and is_delete = 0
    </select>

</mapper>